@font-face {
    font-family: "Ubuntu";
    src: url("/fonts/Ubuntu/Ubuntu-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Ubuntu";
    src: url("/fonts/Ubuntu/Ubuntu-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Ubuntu";
    src: url("/fonts/Ubuntu/Ubuntu-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url("/fonts/Open_Sans/static/OpenSans-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url("/fonts/Open_Sans/static/OpenSans-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url("/fonts/Open_Sans/static/OpenSans-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Roboto";
    src: url("/fonts/Roboto/static/Roboto-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("/fonts/Roboto/static/Roboto-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

.ubuntu-regular {
    font-family: "Ubuntu", sans-serif;
    font-weight: normal;
}

.ubuntu-medium {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
}

.ubuntu-bold {
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
}

.open-sans-regular {
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
}

.open-sans-semi-bold {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}

.open-sans-bold {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}
