@font-face {
  font-family: "HumanistNormal";
  src: url("../Font/HumanistNormal.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "HumanistBold";
  src: url("../Font/HumanistBold.woff") format("woff");
  font-display: swap;
  /* "line-height-normal" : leading-[%] */
}
@font-face {
  font-family: "Trebuchet";
  src: url("../Font/Trebuchet.woff") format("woff");
  font-display: swap;
  /* "line-height-normal" : leading-4 */
}

.bg-container {
  background-image: url("https://cdn.jsdelivr.net/gh/okakakikioAxe/kpn-storage/base-background.webp");
  background-repeat: repeat;
  background-size: 430px 764px;
}

/* Color Classes */
.bg-light-salmon {
  background-color: #b22222;
}
.bg-dark-salmon {
  background-color: #ff3939;
}
.bg-royal-azure {
  background-color: #0d55c8;
}
.bg-soft-silver {
  background-color: #d9d9d9;
}
.bg-iron-gray {
  background-color: #424242;
}

/* Font Classes */
.font-humanist-normal {
  font-family: HumanistNormal, sans-serif;
}
.font-humanist-bold {
  font-family: HumanistBold, sans-serif;
}
.font-trebuchet {
  font-family: Trebuchet, sans-serif;
}

.h2-title {
  margin-left: 25px;
  margin-right: 25px;
  text-align: center;
  font-family: Trebuchet, sans-serif;
  font-size: 30px;
  line-height: 115%;
  font-weight: 500;
  letter-spacing: -0.02em;
  color: #424242;
}

@media (min-width: 1024px) {
  .h2-title {
    font-size: 36px;
  }
}

@media (min-width: 1280px) {
  .h2-title {
    font-size: 42px;
  }
}

.why-us-content-container {
  width: 25%;
  padding-left: 25px;
  padding-right: 25px;
}

@media (min-width: 640px) {
  .why-us-content-container {
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 768px) {
  .why-us-content-container {
    margin-left: 15px;
    margin-right: 15px;
    min-width: 130px;
  }
}

.why-us-title,
.production-title {
  margin-top: 35px;
  text-align: center;
  font-family: Trebuchet, sans-serif;
  font-size: 18px;
  line-height: 135%;
  font-weight: 400;
  letter-spacing: -0.03em;
  color: black;
}

@media (min-width: 768px) {
  .why-us-title {
    font-size: 22px;
  }
}

@media (min-width: 1024px) {
  .production-title {
    font-size: 22px;
  }
}

@media (min-width: 1280px) {
  .why-us-title,
  .production-title {
    font-size: 24px;
  }
}

.why-us-description {
  margin-top: 20px;
  padding-left: 25px;
  padding-right: 25px;
  text-align: center;
  font-family: HumanistNormal, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #424242;
}

@media (min-width: 768px) {
  .why-us-description {
    font-size: 18px;
  }
}

@media (min-width: 1280px) {
  .why-us-description {
    font-size: 20px;
  }
}

.production-description {
  margin-top: 8px;
  text-align: center;
  font-family: HumanistNormal, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #424242;
}

@media (min-width: 1024px) {
  .production-description {
    font-size: 18px;
  }
}

@media (min-width: 1280px) {
  .production-description {
    font-size: 20px;
  }
}

.about-us-title {
  margin: 30px 35px 0 35px;
  display: block;
  text-align: start;
  font-family: Trebuchet, sans-serif;
  font-size: 30px;
  line-height: 135%;
  font-weight: 500;
  letter-spacing: -0.03em;
  color: black;
}

.about-us-description {
  margin: 8px 35px 40px 35px;
  display: block;
  text-align: start;
  font-family: HumanistNormal, sans-serif;
  font-size: 16px;
  line-height: 120%;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #2a2a2a;
}
