@font-face {
  font-family: "HumanistNormal";
  src: url("../Font/HumanistNormal.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "HumanistBold";
  src: url("../Font/HumanistBold.woff") format("woff");
  font-display: swap;
  /* "line-height-normal" : leading-[%] */
}
@font-face {
  font-family: "Trebuchet";
  src: url("../Font/Trebuchet.woff") format("woff");
  font-display: swap;
  /* "line-height-normal" : leading-4 */
}

.bg-container {
  background-image: url("https://cdn.jsdelivr.net/gh/okakakikioAxe/kpn-storage/base-background.webp");
  background-repeat: repeat;
  background-size: 430px 764px;
}
