@import "tailwindcss";

@theme {
  --color-light-salmon: #b22222;
  --color-dark-salmon: #ff3939;
  --color-royal-azure: #0d55c8;
  --color-soft-silver: #d9d9d9;
  --color-iron-gray: #424242;
  --breakpoint-xxs: 10rem;
}
